<section class="contact-section text-center" id="contact">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-black-50 mb-4">お問い合わせ</h2>
        <p class="text-black-50">
          導入を検討される方は<br>
          社名・連絡先・お問い合わせ内容を明記の上、下記アドレスまでご連絡ください。<br>
          ○○xx@thanks.com<br>
          無料でのデモンストレーションも行っております。<br>
        </p>
    <%# 画像パス要確認 %>
    <img class="img-fluid" src="assets/thanks_flower.jpeg" alt="thanks_top_image" />
    </div>
  </div>
</section>