<section class="about-section text-center" id="about">
  <div class="container-fluid">
    <div class="row">
      <div class="col mx-auto">
        <h2 class="text-black-50 mb-4">Thanks!の使い方</h2>
        <hr>
        <p class="text-black-50">
          ここでは初めての方に向けて簡単な操作方法をお伝えします。<br>
        </p>
      </div>
    </div>
  </div>
</section>
<section class="projects-section" id="projects">
  <div class="container-fluid">
    <!-- Project One Row-->
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6">
        <img class="img-fluid" src="<%= asset_path "letters.jpeg" %>" alt="社員にとって" />
      </div>
      <div class="col-lg-6">
        <div class="bg-black h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-lg-left">
              <h4 class="text-black-50">ユーザー（社員）の方</h4>
              <p class="mb-0 text-black-50">
                ・Thanks!を送るには<br>
                ①送りたい相手の氏名を検索<br>
                ②プルダウンから送りたい相手を選択する<br>
                ③メッセージを入力して送信！<br>
                Thanks!一覧ではみんなの感謝のメッセージにいいねやコメントをしてみましょう！
              </p>
              <hr class="d-none d-lg-block mb-0 ml-0" />
              <h4 class="text-black-50" style="margin-top: 30px;">ユーザーテストアカウント</h4>
              <p class="mb-0 text-black-50">
                メールアドレス：0@0<br>
                パスワード：000000<br>
                複数のアカウントを用意しております<br>
                1@1,111111 〜 9@9,999999でもログイン可能です<br>
              </p>
              <hr class="d-none d-lg-block mb-0 ml-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Project Two Row-->
    <div class="row justify-content-center no-gutters">
      <div class="col-lg-6">
        <img class="img-fluid" src="<%= asset_path "thanks_red.jpeg" %>" alt="企業にとって" />
      </div>
      <div class="col-lg-6 order-lg-first">
        <div class="bg-black h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-lg-left">
              <h4 class="text-black-50">管理者（企業）の方</h4>
              <p class="mb-0 text-black-50">
              ・CSV出力<br>
              投稿一覧ではCSVエクスポートに対応。出力後はデータの分析をしてみましょう<br>
              ・CSV入出力<br>
              ユーザー、部署一覧ではCSVインポート・エクスポートに対応。データの反映も簡単です<br>
              ・ランキング<br>
              投稿者、受信者、投稿のいいね数に応じて月間のトップ10をランキング形式で表示します<br>
              </p>
              <hr class="d-none d-lg-block mb-0 mr-0" />
              <h4 class="text-black-50"  style="margin-top: 30px;">管理者テストアカウント</h4>
              <p class="mb-0 text-black-50">
                メールアドレス：admin@example.jp<br>
                パスワード：aaaaaa<br>
              </p>
              <hr class="d-none d-lg-block mb-0 ml-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>