<div class="container-fulid yield">
  <div class="col-8 offset-2">
    <h1>あなたの感謝が送られました！</h1>
    <img alt="thanks" src="/assets/thanks.png" style="height: 500px;">
  </div>
</div>
<meta http-equiv="refresh" content=" 3; url=./.">