<div class="container-fulid">
  <div class="no-gutters">
    <img alt="thanks" src="<%= asset_path "thanks_red.jpeg" %>" class="img-fluid mx-auto d-block">
  </div>
</div>
<meta http-equiv="refresh" content=" 3; url=./.">