<div class="container-fluid yield">
  <div class="d-flex flex-row">
    <div class="col-12">
    <h3>みんなのThanks!</h3>
      <%# 投稿一覧部分は部分テンプレート %>
      <%= render 'index', posts: @posts %>
      <div class="d-flex justify-content-center">
        <%= paginate @posts, class: "pagination" %>
      </div>
    </div>
  </div>
</div>
