<div class="container-fluid yield">
  <div class="row">
    <div class="col-md-10 offset-1">
      <h3 class="text-center">今月のBest Thanks!</h3>
      <hr>
      <%= render 'posts/receiver_ranks', receiver_ranks: @receiver_ranks %>
      <%= render 'posts/sender_ranks', sender_ranks: @sender_ranks %>
      <%= render 'posts/post_ranks', post_ranks: @post_ranks %>
    </div>
  </div>
</div>