<div class="container-fulid">
  <div class="row">
    <div class="col-10 offset-1">
      <h3 class="text-center">チャート</h3>
      <hr>
      <div>受け取ったThanks!</div>
      <%= column_chart Post.group(:receiver_id).count, xtitle: "ユーザーid", ytitle: "受け取ったThanks!数" %>
      <div>送ったThanks!</div>
      <%= column_chart Post.group(:sender_id).count, xtitle: "ユーザーid", ytitle: "送ったThanks!数" %>
      <div>いいねのついたThanks!</div>
      <%= column_chart Favorite.group(:post_id).count, xtitle: "投稿id", ytitle: "いいね数" %>
    </div>
  </div>
</div>