/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // background-image: -moz-linear-gradient(135deg, rgba(94, 0, 255, 0.08), rgba(255, 123, 0, 0.35));
  // background-image: -webkit-linear-gradient(135deg, rgba(94, 0, 255, 0.08), rgba(255, 123, 0, 0.35));
  // background-image: linear-gradient(135deg, rgba(94, 0, 255, 0.08), rgba(255, 123, 0, 0.35));
  // background-color: #FEF6F1;
}

// .container-fluid {
//   display: flex;
// }

.header {
  // background-color:  rgba(112,112,112,.09);
}

.yield {
  // margin-top: auto;
}

.profile-img {
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  box-shadow: 0 2px 6px #c1ced7;
  margin: 20px 0 10px;
  object-fit: cover; /* 縦横比固定したまま上2つの縦横の範囲内に収まるように配置する */
}

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

.notice {
  @extend .alert-info;
}

.alert {
  
}

.card {
  margin: 20px auto;
}

.btn {
  margin: 20px 0;
}

#mainNav {
  background-color: skyblue;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

#mainNav {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: none;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}
#mainNav .navbar-brand {
  padding: 0.5rem 0;
  color: rgba(255, 255, 255, 0.5);
}
#mainNav .nav-link {
  transition: none;
  padding: 2rem 1.5rem;
  color: rgba(255, 255, 255, 0.5);
}
#mainNav .nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
}
#mainNav .nav-link:active {
  color: #fff;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: image-url("..assets/images/thanks.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.masthead h1 {
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: #45CBF3;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
.masthead h2 {
  max-width: 20rem;
  font-size: 1rem;
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .masthead h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}