/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

body {
  background-color: #FEF6F1;
}

.no-gutters {
  margin:0;
  padding:0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  margin:0;
  padding:0;
}

.jumbotron-extend {
  height: 100vh;
  min-height: 350px;
  margin-bottom: 60px;
  background: image-url('letter3.jpeg') no-repeat center center;
  background-size: cover;
}

.jumbotron-container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-left: 30px;
  padding-right: 30px;
}

.jumbotron-container h1 {
  font-size: 4rem;
  line-height: 5rem;
  letter-spacing: 0.7rem;
  background: #E83C6B;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
.jumbotron-container h2 {
  max-width: 20rem;
  font-size: 1rem;
}

.rounded-circle {
  box-shadow: 0 2px 6px #c1ced7;
  margin: 20px 0 10px;
  object-fit: cover; /* 縦横比固定したまま上2つの縦横の範囲内に収まるように配置する */
}

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

.notice {
  @extend .alert-info;
}

.alert {

}

.card {
  margin: 20px auto;
}

.btn {
  margin: 20px 0;
}

#mainNav .navbar .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: #FEF6F1;
}

.navbar {
  background-color: #FEF6F1;
}

#mainNav {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: none;
}

#mainNav .navbar-brand {
  padding: 0.5rem 0;
}

#mainNav .nav-link {
  transition: none;
  padding: 2rem 1.5rem;
}

#mainNav .nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .masthead h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}